body, nav, ul, li, a  {margin: 0; padding: 0;}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
a {text-decoration: none;}
.toggleMenu {
    display:  none;
}
.nav {
    list-style: none;
}
.nav:before,
.nav:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.nav:after {
    clear: both;
}
.nav {
    *zoom: 1;
}
.nav ul {
    list-style: none;
}
.nav a {
    padding: 10px 15px;
    color:#fff;
}
.nav > li {
    position: relative;
    background: #002a5c;
    float: left;
}
.nav > li > a {
    display: inline-block;
}
.nav > li > ul {
    position: absolute;
    left: -9999px;
}
.nav > .parent:hover > ul {
    left: 0;
}
.nav li li ul {
    position:absolute;
    left: -9999px;
}
.nav li .parent {
    position:relative;
}
.nav li .parent:hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    background: #00418f;
}

.nav li li li a {
    background:#0059c2;
}