.toggleMenu {
    display:  none;
}
.nav, .subLvlNav, .btmLvlNav {
    list-style: none;
}
.nav > li {
    float: left;
}
.topLvlItem {
    position: relative;
    z-index: 200;
}
.topLvlItem a {
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    padding: 6px 20px 6px 20px;
    text-decoration: none;
    background-color: #444;
}
.subLvlNav {
    left: -9999px;
    position: absolute;
    top: 100%;
    width: 16em;
    z-index: 100;
}
.parent.hover .subLvlNav {
    left: 0;
}
.subLvlNav a {
    background: #222;
    display: block;
    padding: 5px 10px;
}
.subLvlItem {
    position: relative;
}
.subParent.hover .btmLvlNav {
    left: 100%;
}
.btmLvlNav {
    left: -9999px;
    position: absolute;
    top: 0;
    width: 16em;
}
.btmLvlNav a {
    background-color: #888;
}
@media screen and (max-width: 600px) {
    .nav li {
        float: none;
    }
    .topLvlItem .subLvlNav, .subLvlItem .btmLvlNav {
        display: none;
        left: 0;
        margin-bottom: 0;
        position: static;
        width: 100%;
    }
    .topLvlItem.hover .subLvlNav, .subLvlItem.hover .btmLvlNav {
        display: block;
    }
    .toggleMenu {
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
    }
}